.socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

img {
  display: block;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.conteiner {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 480px;
  width: 100%;
  outline: 2px solid orange;
}
@media screen and (min-width: 768px) {
  .conteiner {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .conteiner {
    max-width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section--greybg {
  background-color: #f5f4fa;
}

.section__title {
  margin-top: 0;
  margin-bottom: 30px;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 30px;
  }
}

.titles-margin {
  margin-top: 0;
  margin-bottom: 10px;
}

.text-margin {
  margin: 0;
}

.socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* header  */
.page-header {
  display: flex;
  align-items: center;
}

/* site nav  */
.site-nav__list {
  display: flex;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: #2196f3;
}

.site-nav__link--active {
  position: relative;
}
.site-nav__link--active::after {
  position: absolute;
  content: "";
  display: block;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
}

/*  contacts */
.contacts-list {
  display: flex;
  margin-left: auto;
}

.contacts-list__item:not(:last-child) {
  margin-right: 30px;
}

.contacts-list__link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
  justify-content: center;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list__icon {
  margin-right: 10px;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list__link:hover,
.contacts-list__link:focus,
.contacts-list__icon:hover,
.contacts-list__icon:focus {
  color: #2196f3;
  fill: #2196f3;
}

.socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* logo */
.logo {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.page-header__logo {
  margin-right: 93px;
}

.logo__color--blue {
  color: #2196f3;
}

.logo__color--black {
  color: #000000;
}

.logo__color--white {
  color: #ffffff;
}

.socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  min-height: 50px;
  padding: 10px 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2196f3;
  color: #ffffff;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  border: 0px solid transparent;
}

.socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* hero  */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: #c4c4c4;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/effective_decisions.jpg);
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* advantages  */
.advatages-list {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .advatages-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .advatages-list {
    flex-wrap: nowrap;
  }
}

.advatages-list__item {
  width: 100%;
}
@media screen and (min-width: 450px) {
  .advatages-list__item {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .advatages-list__item {
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (max-width: 1199px) {
  .advatages-list__item:nth-child(2n+1) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .advatages-list__item {
    width: calc((100% - 120px) / 4);
  }
  .advatages-list__item:not(:last-child) {
    margin-right: 30px;
  }
}

.advatages-list__title {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.advatages-list__text {
  color: #757575;
  font-size: 14px;
  line-height: 1.7;
}

.advatages-list__icon {
  margin-bottom: 30px;
  padding: 25px;
  text-align: center;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* works */
@media screen and (max-width: 1199px) {
  .our-works {
    display: none;
  }
}

.works-list {
  display: flex;
  justify-content: space-between;
}

.socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* our team  */
.team-list {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .team-list {
    flex-wrap: nowrap;
  }
}

.team-list__item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 450px) and (max-width: 767px) {
  .team-list__item {
    width: 450px;
  }
  .team-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team-list__item {
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list__item:nth-child(2n+1) {
    margin-right: 30px;
  }
  .team-list__item:nth-child(-n+2) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team-list__item {
    width: calc((100% - 120px) / 4);
  }
  .team-list__item:not(:last-child) {
    margin-right: 30px;
  }
}

.team-list__photo {
  margin-bottom: 30px;
}

.team-list__title {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-list__text {
  margin-bottom: 16px;
  color: #757575;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.socials-list__item {
  margin-right: 10px;
  margin-bottom: 30px;
}
.socials-list__item:last-child {
  margin-right: 0px;
}

.socials-list__link {
  display: block;
  padding: 12px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-list__link:hover, .socials-list__link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.socials-list__icon {
  fill: currentColor;
}

.socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* partners */
.partners-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.partners-list__item {
  width: calc((100% - 30px) / 2);
}
@media screen and (max-width: 767px) {
  .partners-list__item:not(:nth-last-child(-n+2)) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .partners-list__item {
    width: calc((100% - 60px) / 3);
  }
  .partners-list__item:not(:nth-last-child(-n+3)) {
    margin-bottom: 30px;
  }
}

.partners-list__link {
  display: block;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  text-align: center;
  padding: 16px 32px;
  color: #757575;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.partners-list__link:hover, .partners-list__link:focus {
  border: 1px solid #2196f3;
  color: #2196f3;
}
.partners-list__icon {
  fill: currentColor;
}

.socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* FOOTER  */
/* contacts  */
.footer-styles {
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
  background-color: #2f303a;
}

.footer-contacts {
  margin-top: 40px;
  margin-bottom: 60px;
  margin-right: 70px;
}

.footer-styles__menu {
  display: flex;
}

.footer-contacts__adr {
  font-style: normal;
}

.footer-contacts__link {
  color: #ffffff;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contacts__link:hover, .footer-contacts__link:focus {
  color: #2196f3;
}

.footer-contacts__link--grey {
  color: rgba(255, 255, 255, 0.6);
}

/* footer social  */
.footer-social {
  margin-top: 72px;
  margin-right: 93px;
}

.footer-social__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.footer-social__list {
  display: flex;
}

.footer-social__item:not(:last-child) {
  margin-right: 10px;
}

.footer-social__link {
  display: block;
  width: 44px;
  height: 44px;
  padding: 12px;
  border-radius: 50%;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social__link:hover, .footer-social__link:focus {
  background-color: #2196f3;
}

.footer-social__icon {
  fill: #ffffff;
}

/* subscribe */
.subscribe {
  margin-top: 72px;
}

.subscribe__lable {
  display: block;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.14;
}

.subscribe__menu {
  display: flex;
}

.subscribe__input {
  margin-right: 12px;
  padding-left: 16px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: inherit;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.25;
}

.subscribe__icon {
  margin-left: 10px;
}

.socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* MODAL WINDOW */
/* backdrop  */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

/* modal  */
.modal-window {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 609px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 769px) {
  .modal-window {
    min-width: 528px;
    min-height: 581px;
  }
}

/* close button  */
.button-close {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin-top: 8px;
  margin-right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover {
  fill: #2196f3;
}

/* modal menu  */
.modal-window__title {
  margin: 40px 40px 12px 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-menu {
  display: inline-flex;
  flex-direction: column;
  margin-left: 40px;
  margin-right: 40px;
}

.modal-menu__item {
  margin-top: 18px;
  margin-bottom: 10px;
}

.modal-menu__field {
  position: relative;
}

.modal-menu__input {
  padding-left: 42px;
  height: 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-menu__field:active .modal-menu__input,
.modal-menu__field:focus-within .modal-menu__input,
.modal-menu__field:hover .modal-menu__input,
.modal-menu__field:active .modal-menu__input {
  border-color: #2196f3;
}

.modal-menu__input--textarea {
  padding: 12px 16px;
  height: 120px;
  resize: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.66;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-menu__item:nth-child(4) {
  margin-bottom: 0px;
}

.modal-menu__lable,
.textarea__lable {
  position: absolute;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.66;
  letter-spacing: 0.01em;
  top: -30px;
}

.modal-menu__lable--textarea {
  top: -125px;
}

.modal-menu__icons {
  position: absolute;
  margin-left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-menu__field:active .modal-menu__icons,
.modal-menu__field:focus-within .modal-menu__icons,
.modal-menu__field:hover .modal-menu__icons,
.modal-menu__field:active .modal-menu__icons {
  fill: #2196f3;
}

/* checkbox  */
.checkbox {
  display: block;
  margin-top: 20px;
  margin-bottom: 30px;
}

.checkbox__icon {
  position: relative;
}

.checkbox__check {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  fill: transparent;
  border-radius: 2px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__border {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  fill: black;
  z-index: 1;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__input:checked + * .checkbox__border {
  fill: transparent;
}

.checkbox__input:focus + * .checkbox__border,
.checkbox__input:hover + * .checkbox__border {
  fill: #2196f3;
}

.checkbox__input:checked + * .checkbox__check {
  fill: #fff;
  background-color: #2196f3;
}

.checkbox__lable {
  margin-left: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.checkbox__link {
  color: #2196f3;
  text-decoration-line: underline;
}

.socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* PORTFOLIO  */
/* projects  */
.filters {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.filters__button {
  padding: 6px 22px;
  border-radius: 4px;
  border: 1px solid transparent;
  background-color: #f5f4fa;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  font-family: inherit;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters__button:hover,
.filters__button:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filters__item:not(:last-child) {
  margin-right: 8px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.projects__item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__item:nth-child(3n) {
  margin-right: 0px;
}

.projects__item:nth-last-child(-n+3) {
  margin-bottom: 0px;
}

.projects__item:hover {
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

.card {
  position: relative;
  overflow: hidden;
}

.card__title {
  margin: 20px 24px 4px 24px;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card__text {
  margin: 0px 24px 0px 24px;
  padding-bottom: 20px;
  color: #757575;
  font-size: 16px;
  line-height: 1.88;
}

.card__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__item:hover .card__overlay {
  transform: translateX(0%);
}

.card__discription {
  display: block;
  padding-top: 63px;
  padding-left: 20px;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
}/*# sourceMappingURL=main.css.map */