@import "../utils/variables";
@import "../utils/placeholders";
@import "../utils/fonts";

/* our team  */

.team-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
    flex-direction: row;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.team-list__item {
  background-color: $primary-bg-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (min-width: 480px) and (max-width: 767px) {
    max-width: 450px;
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
  }
}

// .team-list__photo {
//   object-fit: cover;
//   @media screen and (min-width: 480px) {
//     height: 460px;
//   }
//   @media screen and (min-width: 768px) {
//     height: 374px;
//   }

//   @media screen and (min-width: 1200px) {
//     height: 260px;
//   }
// }

.team-list__meta {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-list__title {
  color: $title-text-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-list__text {
  margin-top: 0px;
  margin-bottom: 16px;

  color: $primary-text-color;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.socials-list {
  @extend %flex;
}

.socials-list__item {
  margin-right: 10px;

  &:last-child {
    margin-right: 0px;
  }
}

.socials-list__link {
  @extend %flex;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;

  &:hover,
  &:focus {
    background-color: $alternative-color;
    color: #ffffff;
  }

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-list__icon {
  fill: currentColor;
}
